body{
margin:0;
font-family:Poppins,sans-serif;
background:radial-gradient(circle,#ff4f7b,#ff7eb3);
color:white;
text-align:center;
overflow-x:hidden;
}

.page{
min-height:100vh;
padding:60px 20px;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
gap:25px;
}

.intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
}

h1{font-size:55px;}
p{font-size:20px;max-width:750px;line-height:1.8;white-space:pre-line;}

img{
width:280px;
height:360px;
object-fit:cover;
border-radius:25px;
box-shadow:0 0 25px rgba(0,0,0,0.4);
}

.next{
padding:12px 30px;
background:white;
color:#ff4f7b;
border-radius:25px;
text-decoration:none;
font-weight:bold;
}

.buttons{display:flex;gap:30px;}

button{
padding:15px 35px;
border:none;
border-radius:30px;
font-size:18px;
cursor:pointer;
font-weight:bold;
}

.yes{background:white;color:#ff4f7b;}
.no{background:black;color:white;}

.slider img{
width:320px;
height:400px;
border-radius:25px;
}

.musicbar{
position:fixed;
bottom:20px;
left:20px;
background:rgba(255,255,255,0.2);
padding:12px 18px;
border-radius:20px;
display:flex;
gap:10px;
align-items:center;
backdrop-filter:blur(15px);
z-index:999;
}

.musicbar button{
background:white;
color:#ff4f7b;
padding:8px 12px;
border-radius:12px;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.popupbox{
background:white;
color:#ff4f7b;
padding:40px;
border-radius:25px;
}

/* Floating Hearts */
#floating-hearts span{
position:fixed;
bottom:-20px;
font-size:25px;
animation:floatUp 6s linear infinite;
opacity:0.7;
}

@keyframes floatUp{
0%{transform:translateY(0);opacity:0.8;}
100%{transform:translateY(-110vh);opacity:0;}
}

/* Mobile Responsive */
@media(max-width:768px){
h1{font-size:38px;}
p{font-size:18px;}
.buttons{flex-direction:column;}
}

.passbox{
padding:15px;
border-radius:20px;
border:none;
outline:none;
font-size:18px;
text-align:center;
width:250px;
margin-top:15px;
}
